body {
  margin : 0px;
  font-family: 'Roboto', sans-serif;
}

#img1 {
  margin-left: auto;
  margin-right: auto;
}

#boutonchoix{
  display: none;
}
.choix{
  display: none;
}

#conteneur {
  position:relative;

}

#boiteimg {
  position:absolute;
  margin-left: 15%;

}

#boitedialogue {
  position:absolute;
  text-align: center;
  font-size: 20px;
  width: 1240px;
  height: 75px;
  margin-top : 675px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  top: 50%; left: 50%; /* à 50%/50% du parent référent */
  transform: translate(-50%, -50%); /* décalage de 50% de sa propre taille */
: 0.5;
}
#noir{
  background-color: black;
  width: 1240px;
  height: 709px;
  margin-left: auto;
  margin-right: auto;
  position:absolute;
  display: none;
}